fastapi
uvicorn[standard]
sqlalchemy>=2.0
alembic
psycopg[binary]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
python-dotenv
cloudinary
websockets
httpx
pytest
pytest-asyncio
