{% include "partials/head.html" %}

<div id="app">

{% include "partials/decorations.html" %}

{% include "partials/sidebar.html" %}

    <div id="content-area">
{% include "partials/views/profile.html" %}
{% include "partials/views/inbox.html" %}
{% include "partials/views/comms.html" %}
{% include "partials/views/history.html" %}
{% include "partials/views/vip_panel.html" %}
{% include "partials/views/dm.html" %}
{% include "partials/views/comm_dashboard.html" %}
{% include "partials/views/public_profile.html" %}
{% include "partials/views/news.html" %}
    </div><!-- end content-area -->

</div><!-- end app -->

{% include "partials/scripts/switcher.html" %}

{% include "partials/modals/vip_upgrade.html" %}

{% include "partials/scripts/vip_modal.html" %}

{% include "partials/scripts/favorites.html" %}
